body {
    color: white;
    font-size: 25px;
    font-family: 'Rubik';
    background-color: black;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
.top_line {
    display: flex;
    justify-content: center;
    position: relative;
}
h1 {
    text-align: center;
}
.tabs {
    position: absolute;
    right: 0;
}
.intro {
    text-align: center;
}
.dropbtn {
    background-image: url("images/menu_white.png");
    background-size: cover;
    background-color: black;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
  
.show {
  display: block;
}
  