body {
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
.icon1 {
  position: absolute;
  top: 20px;
  right: 150px;
}
.icon2 {
  position: absolute;
  top: 20px;
  right: 100px;
}
.icon3 {
  position: absolute;
  top: 20px;
  right: 50px;
}
.icon4 {
    position: absolute;
    top: 20px;
    right: 0;
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:visited {
    color: white;
}