body {
    color: black;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Roboto Mono', monospace;   
    background-color: whitesmoke;
}